:root {
    --clr-text: #303030;
    --clr-primary: #067e0a;
    --clr-primary-dark: #074109;
    --clr-accent: #653d6f;
    --clr-accent-dark: #301338;

    --ff-title: "Montserrat", sans-serif;
    --ff-serif: "Crimson Text",
        serif;
    --ff-logo: "Ubuntu", sans-serif;
}


*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: var(--ff-serif);
    color: var(--clr-text);
    font-size: 1.125rem;
}

body {
    margin: 0;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding: 3em 1em;
}

/* Typography */

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h2,
h3 {
    font-family: var(--ff-title);
    line-height: 1.1;
    letter-spacing: 1px;
}

h2 {
    font-size: 4rem;
}

p {
    margin-bottom: 0.85rem;
}

.section-title-small {
    font-size: 3rem;
}

.section-title-small small {
    font-size: 1.7rem;
    line-height: 1.3;
    display: block;
}

.text-primary {
    color: var(--clr-primary);
}

.logo {
    font-family: var(--ff-logo);
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: black;
}

.text-center {
    text-align: center;
}

/* Navigation */

header {
    padding: 1em 0 2em;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

nav a {
    display: inline-block;
    padding: 0.5em;
    color: var(--clr-primary);
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    columns: var(--clr-accent);
    text-decoration: underline;

}

/* Buttons */

.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    padding: .75em 2.5em;
    color: whitesmoke;
    text-decoration: none;
    margin: 0.5rem;
    margin-right: 0.5em;
    display: block;
    border-radius: 0.35em;
}

.btn-primary {
    background-color: var(--clr-primary);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--clr-primary-dark);
}

.btn-accent {
    background-color: var(--clr-accent);
}

.btn-accent:hover,
.btn-accent:focus {
    background-color: var(--clr-accent-dark);
}


/* Homepage styles */

.hero {
    background-color: rgb(153, 151, 151);
    background-image: url(grazing-hens.jpg);
    background-blend-mode: multiply;
    background-attachment: fixed;
    color: whitesmoke;
    background-size: cover;
    text-align: top;
    background-position: center;
    padding: 20vh 1em;
}

/* About us */

.about-us {
    background-color: var(--clr-accent);
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    padding: 0;
}

.about-us__intro {
    background-image: url(egg-basket.jpg);
    background-color: rgb(146, 128, 160);
    background-blend-mode: multiply;
    padding: 3em 1em 1em;
    background-size: cover;
    background-position: center;
    padding: 8em 1em 8em;
}

.about-us__body {
    padding: 1.5em 1em 3em;
    max-width: 70ch;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

/* Order Online */

.order-online {
    background-color: #f6f4f4;
}

.order-online p {
    max-width: 70ch;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-display: column;
    justify-content: center;
}

.product {
    background-color: #f6f4f4;
    padding: 1em;
    border-radius: 1em;
    margin: 0 1em 1em;
    flex-basis: 27%;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.product:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

.product p {
    text-align: start;
}

.product img {
    width: 100%;
    border-radius: 0.35em 0.35em 0 0;
    margin-bottom: 0.5em;
}

.product__title {
    color: var(--clr-primary);
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}


.fine-print {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
}

/* footer */

footer {
    background-color: var(--clr-accent-dark);
    padding: 3em 1em;
    color: whitesmoke;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-nav a {
    margin-right: 1em;
}

footer a {
    color: inherit;
    text-decoration: none;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    color: whitesmoke;
}

.social-icon {
    width: 1.5em;
    margin-bottom: 0.5em;
}

/* Media */

@media only screen and (min-width: 750px) {
    section {
        padding: 6em 1em;
    }

    .btn-group {
        margin-top: 1em;
    }
}

@media only screen and (min-width: 1400px) {
    .about-us {
        flex-direction: row;
    }

    .about-us__body p {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-us__intro,
    .about-us__body {
        flex: 0 1 50%;
        padding: 4em 2em;
    }

    .about-us__intro {
        text-align: right;
    }

    .about-us__intro>* {
        max-width: 27rem;
        margin-left: auto;
    }

    .about-us__body {
        text-align: left;
    }

    .about-us__body>* {
        max-width: 27rem;
        margin-right: auto;
    }

    .order-online>* {
        max-width: 60ch;
        margin-left: auto;
        margin-right: auto;
    }

    .order-online {
        display: grid;
    }
}


@media only screen and (max-width: 950px) {
    .product {
        flex-basis: 100%;
    }
}

@media only screen and (min-width: 951px) and (max-width: 1135px) {
    .product {
        flex-basis: 45%;
    }
}

@media only screen and (max-width: 950px) {
    .order-online .btn-group {
        display: flex;
        flex-direction: column;
    }
}